@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  .font-unbounded {
    @apply font-sans;
    --tw-font-family: 'Unbounded', var(--font-sans);
  }
}
@layer base {
  .font-unbounded {
    @apply font-sans;
    --tw-font-family: 'Unbounded', var(--font-sans);
  }

  .font-unbounded-light {
    @apply font-thin;
  }

  .font-unbounded-normal {
    @apply font-light;
  }

  .font-unbounded-medium {
    @apply font-medium;
  }

  .font-unbounded-semibold {
    @apply font-semibold;
  }

  .font-unbounded-bold {
    @apply font-bold;
  }

  .font-unbounded-extrabold {
    @apply font-extrabold;
  }
}

@layer base {
  .font-unbounded {
    @apply font-sans text-base leading-normal tracking-wide;
    --tw-font-family: 'Unbounded', var(--font-sans);
    font-smooth: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

}

/*Карусель туров*/

@media (max-width: 767px) {
  .carousel-block {
    max-width: 500px;
  }

  .carousel-title {
    text-align: center;
    font-size: 26px;
  }

  .tours-carousel-item {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width:1024px) {
  .carousel-title {
    text-align: left;
  }

  .tours-carousel-item {
    width: 50%;
  }
}

@media (max-width: 1024px) {
  .carousel-list-buttons {
    display: none;
  }
}



/*Фильтрация тура*/
@media (max-width: 768px) {
  .first-params-settings-windows,
  .second-params-settings-windows {
    display: flex;
    flex-direction: column;
  }

  .second-params-settings-windows {
    row-gap: 15px;
  }

  .first-params-settings-window {
    width: 100%;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #f1f0f0;
  }

  .first-params-settings-window:last-child {
    margin: 0;
    padding: 0;
    border: none;
  }

  .budget-slider {
    margin-bottom: 25px;
  }

  .budget-money-from-to {
    padding: 25px 0 49px;
  }

  .budget-price-from-to {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }

  .params-settings-buttons-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
  }

  .params-settings-button-container {
    width: 50%;
    margin: 0;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }
}

/*Бронирование отеля*/

@media (max-width: 1024px) {
  .booking-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
  }

  .booking-filtering-container {
    width: 100%;
  }

  .booking-totalprice-button-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .booking-button {
    margin: 0;
    padding: 37px 0;
    border-radius: 10px 0 0 10px;
  }

  .booking-totalprice-container {
    width: 100%;
    border-radius: 0 10px 10px 0;
  }
}

@media (max-width: 767px) {
  .booking-totalprice-button-container {
    width: 100%;
  }

  .booking-setting-container {
    display: flex;
    flex-direction: column;
    border-radius: 10px 10px 0 0;
  }

  .booking-setting-header {
    width: 100%;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .booking-setting-content-container {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
  }

  .booking-setting-content {
    text-align: center;
  }

  .booking-chose-button-left-border {
    display: none;
  }

  .booking-mobile-none {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .booking-totalprice-button-container {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .booking-mobile-block {
    display: none;
  }
}

/*Карточка забронированного тура*/

@media (max-width: 767px) {
  .booked-seting-content-container {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 10px 0;
  }

  .booked-setting-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    padding: 10px 0;
  }

  .booked-container {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }

  .booked-title-price-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .price-block {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .travel-card-status-flex {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    padding-bottom: 20px;
  }

  .travel-card-status-progress {
    margin: 0;
    transform: rotate(90deg);
  }
}

@media (max-width: 1024px) {
  .travel-card-image-info-container, .travel-card-active-status-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
  }

  .travel-card-active-status-container {
    margin: 0;
  }

  .travel-card-status-container, .travel-card-active-container {
    width: 100%;
  }

  .travel-card-status-container {
    margin: 0;
    padding: 0 50px;
  }

  .travel-card-info-container {
    width: 100%;
  }

  .card-header-tabs-menu-container {
    width: 90%;
  }
}

@media (min-width: 100px) and (max-width: 767px) {
  .card-header-tab-button {
    font-size: 11px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .card-header-tab-button {
    padding: 2px 15px 5px;
  }
}